build/
.vscode/
~*.xlsx
synchronous_control_me_out.xlsx
synchronous_control_cs_out.xlsx

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

temp
fmus
